---
import Layout from '../layouts/layout.astro'
---

<Layout>
    <div class="flex justify-center items-center m-auto h-full">
        <h1 class="text-5xl font-extrabold">404</h1>
    </div>
</Layout>