---
import Layout from "../layouts/Layout.astro";
import { getGirls } from "../services/apiAnime";

const { girls } = await getGirls();
const girlsOne = await girls.slice(0, 15);
const girlsTwo = await girls.slice(15, 30);
---

<Layout title="Anime girls">
  <div class="mx-auto px-4 relative">
    <!-- <div class="flex flex-col flex-wrap gap-2"> -->
    <div class="grid sm:grid-cols-2 gap-2">
      <div class="flex flex-col gap-2">
        {
          girlsOne &&
            girlsOne.map((girl) => (
              <img src={girl} alt={girl} class="rounded-xl h-auto w-full" />
            ))
        }
      </div>
      <div class="flex flex-col gap-2">
        {
          girlsTwo &&
            girlsTwo.map((girl) => (
              <img src={girl} alt={girl} class="rounded-xl h-auto w-full" />
            ))
        }
      </div>
    </div>
  </div>
</Layout>
