---
import AwesomeCard from "../components/AwesomeCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Xpace">
  <div class="flex felx-col gap-2">
    <AwesomeCard />
  </div>
</Layout>

<style></style>
