---
import AwesomeCard from "../components/AwesomeCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Xpace">
  <div class="flex felx-col gap-2">
    <AwesomeCard
      title={"Huan Murato"}
      description={""}
      tags={["Medi", "001"]}
      displayButton={true}
      textButton={"Texto botton"}
    />
  </div>
</Layout>

<style></style>
