---
import HeaderButton from "./HeaderButton.astro";
const currentPath = Astro.url.pathname;
---

<header
  transition:persist
  class="py-8 px-4 mx-auto max-w-7xl lg-py- 16 lg:px-6"
>
  <div class="mx-auto text-center mb-8 lg:mb-16"></div>
  <nav
    class="text-white flex flex-row flex-wrap items-start justify-start w-full text-center"
  >
    <HeaderButton href="/card">Card</HeaderButton>
    <HeaderButton href="/launches">Lanzamientos</HeaderButton>
    <HeaderButton href="/anime">Galeria</HeaderButton>
    <HeaderButton href="/score">Puntuación</HeaderButton>
  </nav>
</header>
