---
interface Props {
  href?: string;
}

const { href } = Astro.props;
---

{
  href ? (
    <a
      href={href}
      class="flex-row bg-slate-700/20 justify-center bg-blue-gray-500 text-white cursor-pointer hover:bg-slate-700 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg px-5 py-2.5 text-center inline-flex items-center mr-2 mb-2 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 gap-x-2 opacity-70 hover:opacity-100"
    >
      <slot name="before" />
      <slot> default </slot>
      <slot name="after" />
    </a>
  ) : (
    <button class="flex-row bg-slate-700/20 justify-center  text-white cursor-pointer hover:bg-slate-700 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg px-5 py-2.5 text-center inline-flex items-center mr-2 mb-2 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 gap-x-2 opacity-70 hover:opacity-100">
      <slot name="before" />
      <slot> default </slot>
      <slot name="after" />
    </button>
  )
}
